
        .body-initial {
            background-color: rgb(38, 38, 38); 
        }
        .silex-id-1442914589168-2 {
            min-height: 50px; 
            width: 400px; 
            top: 635px; 
            left: 6px; 
            background-color: transparent; 
        }
        .silex-id-1442914737143-3 {
            min-height: 28px; 
            width: 250px; 
            top: 13px; 
            left: 80px; 
        }
        .background-initial {
            background-color: rgb(255, 255, 255); 
            top: 5px; 
            left: 154px; 
            width: 960px; 
            min-height: 600px; 
        }
        .silex-id-1475000317007-0 {
            min-height: 60px; 
            width: 906px; 
            top: 15px; 
            left: 23px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1475000326889-1 {
            min-height: 487px; 
            width: 265px; 
            top: 90px; 
            left: 23px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1475000343815-2 {
            min-height: 479px; 
            width: 423px; 
            top: 96px; 
            left: 319px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1475000376274-3 {
            min-height: 489px; 
            width: 174px; 
            top: 95px; 
            left: 757px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1475000539157-4 {
            min-height: 44px; 
            width: 276px; 
            top: 13px; 
            left: 31px; 
        }
    